.todo{
    margin: auto;
    margin-top: 15vh;
    margin-bottom: auto;
}

@keyframes spin{

    from {transform: rotateY(0deg); }
    to { transform: rotateY(360deg);}
    }
    
.spinning{
    animation: spin 3s infinite;
    animation-timing-function:cubic-bezier(1, 0, 0, 1);
}

.image{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 2vh;
    img{        
        display: block;
        height: 10vh;
        
    }  
}

#logi-btn{
    text-align: center;
    color: #009f3a;
}

#recu{
    margin: auto;
    color: rgb(55, 55, 230);
}

#back{
    
    margin-bottom: 5%;
}
