<ion-content [fullscreen]="true">
  
  <h1>Crea tu cuenta</h1>

 <div>
  <ion-row>
    <ion-col>

    </ion-col>
  </ion-row>
  <ion-card>
    <form [formGroup]="formularioRegistro">
      <ion-item>
        <ion-label class="ion-text-center" position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre" type="text">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-center"  position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password">
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-center"  position="floating">Repetir Contraseña</ion-label>
        <ion-input formControlName="confirmacion-password" type="password">
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-center"  position="floating">Email</ion-label>
        <ion-input formControlName="email" type="text">
          <ion-icon name="mail-outline"></ion-icon>
        </ion-input>
      </ion-item>
    </form>
  </ion-card>
  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="block" routerLink="/inicio">
        <ion-icon name="arrow-back-outline"></ion-icon>
        Volver
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="registrar()" color="success" expand="block">
        Registrarse
      </ion-button>
    </ion-col>
  </ion-row>
 </div>
  
</ion-content>