<ion-content>
    <div id="map-koko"></div>

    <ion-card id="lista">
        <ion-card-header>
            <ion-card-subtitle id="subtitulo">Nuestros puntos verdes registrados</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>Punto verde de reciclaje Lapislazuli</ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>Punto verde de reciclaje Miraflores</ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>Punto verde de reciclaje Chorrillos</ion-label>
                </ion-item>

                <ion-item>
                    <ion-label>Punto verde de reciclaje Las Loicas</ion-label>
                </ion-item>

                <ion-item lines="none">
                    <ion-label>Punto verde de reciclaje 6 Norte</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>

