<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <div class="image">
          <img src="https://www.svgrepo.com/show/503798/world.svg" class="spinning" alt="welcome">
        </div>
      </ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>

    <!-- boton de logout -->
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>

    
  </ion-header>

  
</div>

 
  
